/* Icon dùng mask-image */
.icon-mask {
  mask-image: url("@/assets/icons/ICON.svg");
  mask-repeat: no-repeat;
}

/* Icon dùng background-image */
.icon-bg {
  background: url("@/assets/icons/ICON.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Icon size utilities */
.icon-10 {
  width: 10px;
  height: 10px;
}
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-18 {
  width: 18px;
  height: 18px;
}
.icon-20 {
  width: 20px;
  height: 20px;
}
.icon-21 {
  width: 21px;
  height: 21px;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}
.icon-38 {
  width: 38px;
  height: 38px;
}
.icon-40 {
  width: 40px;
  height: 40px;
}
.icon-48 {
  width: 48px;
  height: 48px;
}

.icon-dashboard {
  background-position: 0px -272px;
}

.icon-dashboard-active {
  background-position: 0px -288px;
}

.icon-customer {
  background-position: -112px -48px;
}

.icon-customer-active {
  background-position: -224px -288px;
}

.icon-opportunity {
  background-position: -80px -48px;
}

.icon-opportunity-active {
  background-position: -160px -304px;
}

.icon-quote {
  background-position: -64px -48px;
}

.icon-quote-active {
  background-position: -176px -304px;
}

.icon-sale-order {
  background-position: -144px -48px;
}

.icon-sale-order-active {
  background-position: -160px -240px;
}

.icon-product {
  background-position: -16px -48px;
}

.icon-product-active {
  background-position: -144px -240px;
}

.icon-report {
  background-position: -32px -272px;
}

.icon-report-active {
  background-position: -32px -288px;
}

.icon-other {
  background-position: -48px -272px;
}

.icon-folder {
  background-position: -208px -177px;
}

.icon-dropdown {
  background-position: -48px -32px;
}

.icon-refresh {
  background-position: -352px -32px;
}

.icon-ai-search {
  background-position: 0px -1425px;
}

.icon-ai {
  background: url("@/assets/icons/ai-icon-16.svg");
  background-repeat: no-repeat;
}

.icon-statistic {
  background-position: -16px -1425px;
}

.icon-add {
  background-position: -240px -128px;
}

.icon-import {
  background-position: -176px -192px;
}

.icon-more {
  background-position: -48px 0;
}

.icon-menu {
  background-position: -128px -304px;
}

.icon-edit {
  background-position: -128px 0px;
}

.icon-delete {
  background-position: -192px -129px;
}

.icon-start-page {
  background-position: -112px -224px;
}

.icon-end-page {
  background-position: -128px -224px;
}

.icon-prev {
  background-position: -288px -32px;
}

.icon-next {
  background-position: -304px -32px;
}

.icon-setting {
  background-position: -272px -176px;
}

.icon-close {
  background-position: -67px -19px;
}

.icon-upload-file {
  background-position: -233px -1274px;
}

.icon-select-type {
  background-position: -288px -708px;
}

.icon-calendar {
  background-position: -96px -64px;
}

.icon-success {
  background-position: -80px -808px;
}

.icon-phone {
  background-position: -320px -48px;
}

.icon-export {
  background-position: -304px -224px;
}

.icon-filter {
  background-position: 0px -505px;
}

.icon-sort-asc {
  background-position: -32px -32px;
}

.icon-sort-desc {
  background-position: -48px -32px;
}
