/* Icon dùng mask-image */
.icon-mask {
  mask-image: url("@/assets/icons/ICON.svg");
  mask-repeat: no-repeat;
}

/* Icon dùng background-image */
.icon-bg {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

/* Icon size utilities */
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-18 {
  width: 18px;
  height: 18px;
}
.icon-20 {
  width: 20px;
  height: 20px;
}
.icon-21 {
  width: 21px;
  height: 21px;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-left {
  mask-position: -60px -696px;
  background-color: white;
}

.icon-right {
  mask-position: -40px -696px;
  background-color: #7a8188;
}

.icon-dashboard {
  mask-position: 0px -272px;
  background-color: #586074;
}

.icon-customer {
  mask-position: -224px -288px;
  background-color: #586074;
}

.icon-opportunity {
  mask-position: -80px -48px;
  background-color: #586074;
}

.icon-quote {
  mask-position: -64px -48px;
  background-color: #586074;
}

.icon-sale-order {
  mask-position: -144px -48px;
  background-color: #586074;
}

.icon-product {
  mask-position: -16px -48px;
  background-color: #586074;
}

.icon-report {
  mask-position: -32px -272px;
  background-color: #586074;
}

.icon-other {
  mask-position: -48px -272px;
  background-color: #586074;
}
