/* Icon dùng mask-image */
.icon-mask {
  mask-image: url("@/assets/icons/ICON.svg");
  mask-repeat: no-repeat;
}

/* Icon dùng background-image */
.icon-bg {
  background: url("@/assets/icons/ICON.svg");
  background-repeat: no-repeat;
}

/* Icon size utilities */
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-18 {
  width: 18px;
  height: 18px;
}
.icon-20 {
  width: 20px;
  height: 20px;
}
.icon-21 {
  width: 21px;
  height: 21px;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-dashboard {
  background-position: 0px -272px;
  background-color: transparent;
}

.icon-dashboard-active {
  background-position: 0px -288px;
  background-color: transparent;
}

.icon-customer {
  background-position: -112px -48px;
  background-color: transparent;
}

.icon-customer-active {
  background-position: -224px -288px;
  background-color: transparent;
}

.icon-opportunity {
  background-position: -80px -48px;
  background-color: transparent;
}

.icon-opportunity-active {
  background-position: -160px -304px;
  background-color: transparent;
}

.icon-quote {
  background-position: -64px -48px;
  background-color: transparent;
}

.icon-quote-active {
  background-position: -176px -304px;
  background-color: transparent;
}

.icon-sale-order {
  background-position: -144px -48px;
  background-color: transparent;
}

.icon-sale-order-active {
  background-position: -160px -240px;
  background-color: transparent;
}

.icon-product {
  background-position: -16px -48px;
  background-color: transparent;
}

.icon-product-active {
  background-position: -144px -240px;
  background-color: transparent;
}

.icon-report {
  background-position: -32px -272px;
  background-color: transparent;
}

.icon-report-active {
  background-position: -32px -288px;
  background-color: transparent;
}

.icon-other {
  background-position: -48px -272px;
  background-color: transparent;
}

.icon-folder {
  background-position: -208px -177px;
  background-color: transparent;
}

.icon-dropdown {
  background-position: -48px -32px;
  background-color: transparent;
}

.icon-refresh {
  background-position: -352px -32px;
  background-color: transparent;
}

.icon-ai-search {
  background-position: 0px -1425px;
  background-color: transparent;
}

.icon-ai {
  background: url("@/assets/icons/ai-icon-16.svg");
  background-repeat: no-repeat;
}

.icon-statistic {
  background-position: -16px -1425px;
  background-color: transparent;
}

.icon-add {
  background-position: -240px -128px;
  background-color: transparent;
}

.icon-import {
  background-position: -176px -192px;
  background-color: transparent;
}

.icon-more {
  background-position: -48px 0;
  background-color: transparent;
}

.icon-menu {
  background-position: -128px -304px;
  background-color: transparent;
}
